* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
    float:none ;
    width: 25%;
    padding: 10px 50px 20px;;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
    width: 250%;
    position: absolute;
    left: 15%;


}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    display: block;
    background-color: #f1f1f1;
}
h5{
    font-weight: bold;
    font-family: "Times New Roman";
    position: center;
}
label{
    font-weight: bold;
    float: left;
    margin-left: 10em;
    margin-right: 1em;
    display:block;
}